body {
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
			font-weight:300;
			font-size:18px;
		}

		.container {
			max-width: 960px;
		}
		
		.title.is-1 {
			font-weight:700;
			
		}

		header {
			padding: 1.5rem;
		}

		header address{
			font-size: 24px;
			font-weight: 400;
			font-style: normal;
			display: inline;
			padding: 0 15px;
		}

		section {
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
			background-size: 100% 1px;
			background-position:top;
			background-repeat: no-repeat;
		}

		#abstract, #figure {
			background: none;
		}

		#figure{
			padding-top: 0
		}

		video.header-vid {
			height: 140px;
			border: 1px solid black;
			border-radius: 10px ;
			-moz-border-radius: 10px ;
			-webkit-border-radius: 10px ;
		}
		
		a:link,a:visited
		{
			color: #1367a7;
			text-decoration: none;
		}
		a:hover {
			color: #208799;
		}

		.nav a{
			font-size: 24px;
			font-weight: 400;
			padding: 0 15px;
		}
		.nav a:first-of-type{
			padding-left:0;
		}
		
		.layered-paper-big { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
			box-shadow:
			0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
			5px 5px 0 0px #fff, /* The second layer */
			5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
			10px 10px 0 0px #fff, /* The third layer */
			10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
			15px 15px 0 0px #fff, /* The fourth layer */
			15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
			20px 20px 0 0px #fff, /* The fifth layer */
			20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
			25px 25px 0 0px #fff, /* The fifth layer */
			25px 25px 1px 1px rgba(0,0,0,0.35); /* The fifth layer shadow */
			margin-left: 10px;
			margin-right: 45px;
		}

		.paper-big { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
			box-shadow:
			0px 0px 1px 1px rgba(0,0,0,0.35); /* The top layer shadow */

			margin-left: 10px;
			margin-right: 45px;
		}


		.layered-paper { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
			box-shadow:
			0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
			5px 5px 0 0px #fff, /* The second layer */
			5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
			10px 10px 0 0px #fff, /* The third layer */
			10px 10px 1px 1px rgba(0,0,0,0.35); /* The third layer shadow */
			margin-top: 5px;
			margin-left: 10px;
			margin-right: 30px;
			margin-bottom: 5px;
		}

		.footer {
			background-color: #fff;
			padding: 6rem 1.5rem 2rem;
		}

		.video-container { 
			position: relative; 
			padding-bottom: 56.25%; 
			padding-top: 30px; 
			height: 0; 
			overflow: hidden; 
		}

		.video-container iframe, .video-container object, .video-container embed { 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%;
		}